# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Ambiente
.env
.env.local
.env.*.local

# Sistema / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / coverage (se usar futuramente)
dist/
build/
coverage/

